
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index:1400;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #00ab6b;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #00ab6b;
}

.flat::-moz-progress-bar {
  background-color: #00ab6b;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, #00ab6b);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, #00ab6b);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg,
           transparent 33%, rgba(0, 0, 0, .1) 33%,
           rgba(0,0, 0, .1) 66%, transparent 66%),
  -webkit-linear-gradient(left, #00ab6b, #00ab6b);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg,
           transparent 33%, rgba(0, 0, 0, .1) 33%,
           rgba(0,0, 0, .1) 66%, transparent 66%),
  -moz-linear-gradient(left, #00ab6b, #00ab6b);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #00ab6b;
  width: 50%;
  display: block;
  height: inherit;
}
